<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>
    <%- include('includes/side-drawer') %>
    <main>
      <h1>404 Page not found.</h1>
      <p>
        Try a different?
      </p>
    </main>
  </body>
</html>
